*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style: none; /*remove o estilo da lista, as bolinhas*/
}

a{
    text-decoration: none;
    color: inherit;
}